html {
  height: 100%;
}
body {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  margin: 0;
  padding: 0;

  background: rgb(55, 71, 79);
  background: -moz-linear-gradient(
    left,
    rgb(55, 71, 79) 0%,
    rgb(55, 71, 79) 50%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgb(55, 71, 79) 0%,
    rgb(55, 71, 79) 50%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
  );
  background: linear-gradient(
    to right,
    rgb(55, 71, 79) 0%,
    rgb(55, 71, 79) 50%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37474f', endColorstr='#ffffff',GradientType=1 );
}
a {
  color: #48a1cd;
}

.body-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background: rgb(55, 71, 79);
  background: -moz-linear-gradient(
    left,
    rgb(55, 71, 79) 0%,
    rgb(55, 71, 79) 35%,
    rgb(255, 255, 255) 35%,
    rgb(255, 255, 255) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgb(55, 71, 79) 0%,
    rgb(55, 71, 79) 35%,
    rgb(255, 255, 255) 35%,
    rgb(255, 255, 255) 100%
  );
  background: linear-gradient(
    to right,
    rgb(55, 71, 79) 0%,
    rgb(55, 71, 79) 35%,
    rgb(255, 255, 255) 35%,
    rgb(255, 255, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37474f', endColorstr='#ffffff',GradientType=1 );
}
.sidebar {
  vertical-align: top;
  width: 336px;
  background: #37474f;
  color: #fff;
  display: inline-block;
}
.content {
  vertical-align: top;
  width: 624px;
  background-color: #fff;
  display: inline-block;
  padding-bottom: 40px;
}
.side-block.side-header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #263238;
  margin-bottom: 20px;
  box-shadow: -10000px -10000px 0px 10000px #263238;
}
.side-block {
  padding: 10px 40px;
}
h1.name {
  text-align: center;
  letter-spacing: 0.025em;
  font-weight: normal;
  margin-bottom: 0.25em;
}
h3.position {
  text-align: center;
  font-weight: normal;
  margin-top: 0.5em;
}
.side-h3 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.side-icon {
  
  padding-left: 1px;
  display: inline-flex;
  font-size: 1.2em;
  justify-content: center;
  padding-top: 9px;
  background-color: #263238;
  width: 35px;
  height: 27px;
  margin-top: -0.25em;
  margin-right: 0.25em;
  border-radius: 50%;
}
.side-icon-small {
  font-size: 1.1em;
  padding-top: 5px;
  color: #263238;
  background-color: #fff;
  width: 24px;
  height: 19px;
  display: inline-flex;
  justify-content: center;
  margin-top: -0.15em;
  margin-right: 0.85em;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
ul.side-list {
  list-style: none;
  padding: 0 0 0 6px;
}
ul.side-list li {
  min-height: 36px;
}

.content-h1 {
  padding-left: 60px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-top: 2.15em;
}
.content-block {
  padding: 0px 60px 0px 123px;
}
.content-block.content-block__wild {
  padding: 0px 60px;
}
.content-icon-big {
  background-color: #263238;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  margin-right: 0.25em;
  margin-top: -0.2em;
  padding-left: 1px;
  padding-top: 10px;
  vertical-align: middle;
  width: 47px;
}

.content-h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 2em;
  margin-bottom: 0.25em;
}
.content-h5 {
  letter-spacing: 0.025em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #90a4ae;
}
.img-wild {
  margin-top: 4em;
  width: 500px;
  height: 250px;
}
.content-h3.content-h3__project {
  margin-top: 1em;
  text-align: center;
}

.lang {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  
}